.contenedorDetailSearch{
    text-align: center;
    .titulo{
        padding-top: 140px;
        margin-bottom: 20px;
        font-size: 60px;
    }
    .card{
        // text-align: center;
        width: 850px;
        height: 214px;
        margin-left: 250px;
        background-color: white;
        backface-visibility: hidden;
        border-radius: 15px;
        box-shadow: 0 0 10px #0003;
        // grid-template-columns: 1fr 1fr;
            .tituloCard{
                margin-right: 500px;
                padding-top: 30px
               }
               .tituloCard1{
                font-size: 12px;
                margin-right: 500px;
                padding: 5px;
                padding-top: 0px;
                width: 400px;
               }
               .boton{
                margin-right: 500px;
                margin-top: 35px;
                // margin-bottom: 100px;
                padding: 13px;
                color: white;
                background-color:#24105F ;
                border: none;
                font-weight: 500;
                border-radius: 40px;
                transition: filter 100ms ease;
                cursor: pointer;
                font-size: 15px;
               }     
        
       .imagenCard{
        position: absolute;
        width: 28%;
        height: 31%;
        backface-visibility: hidden;
        margin-left: 60px;
        border-radius: 10px;
        // overflow: hidden;
        transition: .5s;
       }
    }
}