

@media (max-width:800px) {
  .App{
    padding-top: 50px;
  }
  .header_app {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(211, 209, 209);
    filter: drop-shadow(0 0 10px rgba(122, 122, 122, 0.568));
  }
}
.header_app {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 100;
    flex-direction: row-reverse;

    a{
        text-decoration: none;
    }
    li{
        list-style:none;
    }
    .fa-solid{
        margin-right: 15px;
        color: rgb(29, 7, 37);
    }
  }
  .name_user{
    font-size: 20px;
    position:absolute;
    top: 10%;
    left: 20%;
    margin-bottom: 100px;
    color: #24105F;
  }
  .fa-x{
    position: absolute;
    top: 30px;
    left: 30px;
    transform: scale(1.2);
  }
  .header__logo {
    font-size: 24px;
    font-weight: 700;
    color: purple;
    position: relative;
    z-index: 2;
    margin-right: 20px;
  }
  .header__menu-ham{
    font-size: 22px;
    transform: translateX(-15px);
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: transform 200ms ease;
    margin-left: 20px;
  }
  .header__menu-ham:hover {
    transform: translateX(-15px) scale(1.1);
    transition: transform 200ms ease;
  }
  .header__nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 100px 20px 40px;
    // width: 60%;
    height: 100vh;
    transition: transform 500ms ease ;
    box-shadow: 0 0 10px #0005;
    z-index: 100;
  }
  .header__nav--close {
    transform: translateX(-103%);
    transition: transform 500ms ease ;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin-top: 50px;

  }
  .header__navlink {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px auto;
    text-align: center;
    cursor: pointer;
  }
  .header__navlink:hover {
    background-color: #ddd4;
  }
  .active-link{
    font-weight: 700;
    color: var(--color-red);
  }
  @media screen and (min-width: 800px) {

    .header_app {
      padding: 0 0 0 30px;
      border-bottom: 1px solid #ccc9;
      flex-direction: row;

    //   width: 100%;

    .fa-solid{
        display: none;
    }
    }
    .header__logo {
      font-size: 30px;
      margin-right: 0px;

    }
    
    .header__menu-ham, .name_user{
      display: none;
    }
    .header__nav {
      transform: translateX(0);
      transition: none;
      position: initial;
      padding: 0;
      box-shadow: none;
      width: initial;
      height: initial;
    }
    .header__list {
      flex-direction: row;
      gap: 0;
      margin-top: 0px;

    }
    .header__navlink {
      width: 15vw;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #ccc9;
    }
    .header__item:last-child .header__navlink {
      border-right: 1px solid #ccc9;
    }
    .fa-x{
        display: none;
    }
  }