.header{
    text-align: justify;
    margin-top: 4px;
    padding-top: 10px;
    border-bottom: rgba(10, 9, 9, 0.908);
}

.contenedor{
    width: 500px;
    background-color: white;
    display: grid;
    grid-template-columns:  1fr  1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
    margin-left: 600px;
   
    .componente{
        height: 50px;
        width: 110px;
        text-align: center;
        margin: 3px;
        margin-right: 1px;
        margin-left: 1px;
    }
   
}