.home {
    text-align: center;
    .titulo1{
        text-align: left;
        padding-left: 100px;
    }
    .select{
        align-self: left;
    }
    .inLine{
        display: inline ;
    }
    .iconos{
        height: 50px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px #0003;
        margin: 30px;
    }
    .contenedorTarjeta{
        margin: 30px;
        .tarjeta{
            height: 150px;
            width: 150px;;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px #0003;
            margin: 30px;
            .iconos1{
                height: 50px;
                padding: 15px;
            }
        }
    }
    
};