.home {
    text-align: center;
    .titulo1{
        text-align: left;
        padding-left: 200px;
        padding-top: 100px;
    }
    .titulo2{
        text-align: left;
        padding-left: 200px;
    }
    .titulo3{
        text-align: center;
        margin-top: 40px;
        padding-top: 100px;
    }
    .titulo4{
        text-align: center;
    }
    .select{
        align-self: left;
    }
    .inLine{
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
    }
    .iconos{
        height: 50px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px #0003;
        margin: 30px;
    }
    .iconos2{
        height: 60px;
        padding: 15px;
        box-shadow: 0 0 10px #0003;
        margin-left: 500px;
    }
    
    .contenedorTarjeta{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        flex-direction: column;
        padding: 15px;
        .tarjeta1{
            height: 150px;
            width: 150px;;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px #0003;
            margin: 30px;
            margin-left: 300px;
            .iconos1{
                height: 50px;
                padding: 15px;
            }
        }
    }

    .contenedorTarjeta1{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        .tarjeta1{
            height: 150px;
            width: 150px;;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px #0003;
            margin: 30px;
            margin-left: 300px;
            .iconos1{
                height: 50px;
                padding: 15px;
            }
        }
            .tarjeta2{
                height: 150px;
                width: 150px;;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 0 10px #0003;
                margin: 30px; 
                .iconos1{
                    height: 50px;
                    padding: 15px;
                }
            }   
           
        }
        
    .login__btn1{
        width: 15%;
        padding: 10px 15px;
        color: white;
        background-color:  $colorButton;
        border: none;
        font-weight: 500;
        border-radius: 5px;
        transition: filter 100ms ease;
        cursor: pointer;
        font-size: 15px;
      }
      .login__btn2{
        width: 180px;
        height: 40px;
        padding: 10px 15px;
        margin-top: 30px;
        color: white;
        background-color:  $colorButton;
        border: none;
        font-weight: 500;
        border-radius: 5px;
        transition: filter 100ms ease;
        cursor: pointer;
        font-size: 15px;
      }
      .login__btn3{
        width: 15%;
        margin-top: 40px;
        margin-bottom: 100px;
        padding: 10px 15px;
        color: white;
        background-color:  $colorButton;
        border: none;
        font-weight: 500;
        border-radius: 5px;
        transition: filter 100ms ease;
        cursor: pointer;
        font-size: 15px;
      }
      .login__btn:hover {
        filter: brightness(1.05);
        transition: filter 100ms ease;

      } .login__btn1:hover {
        filter: brightness(1.05);
        transition: filter 100ms ease;
      }
      .login__btn2:hover {
        filter: brightness(1.05);
        transition: filter 100ms ease;
      }
    ul{
        font-size: 30px;
        list-style-type: circle;
        background-color: white;
        text-align: left;
        padding-left: 150px;
    }
    .lista{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
            .iconos3{
                padding: 15px;
                box-shadow: 0 0 10px #0003;
                margin-left: 250px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                flex-direction: column;
            }
        .textoInterior{
             width: 300px;
            margin-right: 700px;
        }
        .textoInterior1{
            width: 300px;
           margin-right: 650px;
       }

    }
    .card{
        text-align: center;
        width: 800px;
        height: 200px;
        margin-left: 250px;
        background-color: white;
        backface-visibility: hidden;
        border-radius: 15px;
        box-shadow: 0 0 10px #0003;
       .tituloCard{
        margin-right: 500px;
        padding-top: 30px
       }
       .tituloCard1{
        margin-right: 500px;
        padding: 5px;
        padding-top: 0px;
        width: 500px;
       }
       .boton{
        width: 27%;
        margin: 100%;
        margin-left: 90px;
        margin-top: 5px;
        // margin-bottom: 100px;
        padding: 10px;
        color: white;
        background-color:  $colorButton;
        border: none;
        font-weight: 500;
        border-radius: 5px;
        transition: filter 100ms ease;
        cursor: pointer;
        font-size: 15px;
       }
    }
};