<<<<<<< HEAD
@media (min-width:800px){
    .search1{
        padding-top: 40px;
      }
      
      .search {
          // display: inline-block;
          align-items: center;
          justify-content: space-between;
          text-align: center;
          position: absolute;
          bottom: 10%;
          left: 5%;
        }
      
        
        .search__input {
          font-family: inherit;
          font-size: 20px;
          background-color: #f4f2f2;
          border: none;
          color: #646464;
          padding: 20px 80px 20px 20px;
          // border-radius: 30px;
          width: 300px;
          transition: all ease-in-out .5s;
          margin-right: -2rem;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
      
        .br_button{
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          
        }
        
        // .search__input:hover, .search__input:focus {
        //   box-shadow: 0 0 1em #00000013;
        // }
        
        // .search__input:focus {
        //   outline: none;
        //   background-color: #f0eeee;
        // }
        
        .search__input::-webkit-input-placeholder {
          font-weight: 100;
          color: #ccc;
        }
        
        // .search__input:focus + .search__button {
        //   background-color: #f0eeee;
        // }
        
        .search__button {
          border: none;
          background-color: #24105F ;
          height: 72px;
          position: absolute;
          bottom: 0;
          width: 68px;
          right: -32px;
          font-size: 28px;
          color: white;
          padding-left: 10px;
        }
        
        .search__button:hover {
          cursor: pointer;
        }
        
        .search__icon {
          height: 1.3em;
          width: 1.3em;
          fill: #b4b4b4;
        }
      
        
}
=======

.search {
    // display: inline-block;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    // position: relative;
  }
  .search1{
    padding-top: 40px;
    padding-right: 490px;
  }
  .display{
    display: none;
  }
  
  
  .search__input {
    font-family: inherit;
    font-size: 20px;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 21px 10px 16.5px 20px;
    // border-radius: 30px;
    width: 300px;
    // transition: all ease-in-out .5s;
    //  margin-right: -2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .search__input1{
    font-family: inherit;
    font-size: 20px;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 20px 10px 16px 12px;
    // border-radius: 30px;
    width: 300px;
    // transition: all ease-in-out .5s;
     margin-right: -2rem;
    // border-top-left-radius: 20px;
    // border-bottom-left-radius: 20px;
  }

  .br_button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  // .search__input:focus {
  //   outline: none;
  //   background-color: #f0eeee;
  // }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  // .search__input:focus + .search__button {
  //   background-color: #f0eeee;
  // }
  
  .search__button {
    border: none;
    background-color: #24105F ;
    height: 66px;
    // position: absolute;
    width: 68px;
    right: -32px;
    font-size: 28px;
    color: white;
    padding-left: 10px;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  
>>>>>>> a03bd755c8b1ffa6a9fd717731d26d3e197a3b52
