@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,900&display=swap");
$colorletlerGray: rgba(68, 68, 68, 0.63);

.shipping {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .shipping_header {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;

    > section {
      width: 50%;
    }
    .container-icon-user {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 5%;
      padding-bottom: 20px;
      color: rgba(59, 59, 59, 0.89);

      p {
        font-size: 12px;
      }
      .icon_user {
        height: 30px;
        width: 30px;
        position: relative;
        border-style: dashed solid;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-user {
          font-size: 20px;
        }
      }
    }

    main {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      position: relative;
      background-image: url("../img/Ellipse.png");
      background-repeat: no-repeat;
      background-size: 70%;
      gap: 10%;
      padding: 40px;

      h2 {
        font-family: Poppins;
        color: black;
        font-size: 40px;
        text-align: center;
      }
      h3 {
        color: $colorletlerGray;
        font-size: 25px;
        text-align: center;
      }
      :nth-child(2) {
        font-weight: bold;
        color: rgb(126, 126, 126);
      }
      :nth-child(3) {
        letter-spacing: 2px;
        width: 100%;
      }
    }
    hr {
      width: 3px;
      background-color: rgb(211, 211, 211);
      height: 100%;
    }
    :nth-child(3) {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
  .tilte-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    h2 {
      font-size: 40px;
    }
  }

  .container_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding:0 15px 15px 15px;
    border: solid rgba(143, 142, 142, 0.637) 3px;
    width: 80%;
    border-radius: 30px;
    position: relative;

    > section {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      > header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: rgba(88, 88, 88, 0.226);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        > h3 {
          font-size: 20px;
          letter-spacing: 2px;
        }
      }
   
    }
  }
}
.client_form{
  position: relative;

}
.relative{
  position: relative;
}
.header-style_title {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin-bottom: 40px;
  span {
    top: 15%;
    position: absolute;
    background: #d9d9d9;
    width: 39%;
    height: 1px;
    position: absolute;
    left: 28%;
  }

  .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: $colorletlerGray;
    .circle {
      width: 25px;
      height: 25px;
      background: #d9d9d9;
      border-radius: 50%;
    }
    h3{
      font-size: 25px;
      font-weight: bold;
    }
    p{
      font-weight: 600;
      font-size: 18px;
    }
  }
}

// formulario

.form_cointainer{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
justify-content: center;
  width: 100%;
  gap: 15px;

  input , select, textarea{
    padding: 15px;
    margin: 15px 0 15px 0 ;
    width: 100%;
    padding: 15px;
    // background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    border: solid rgba(179, 179, 179, 0.788) 1px;
    align-items: center;
    font-size: 17px;
    border-radius: 15px ;
    transition: filter 0.2s;
  }
  input:hover , select:hover , textarea:hover{
   filter: drop-shadow(0px 0px 3px #888888);

    cursor: pointer;
  }

  .phone_email{
    display: flex;
    gap: 10px;
  }
  .address_code{
    gap: 10px;
    display: grid;
grid-template-columns: 0.7fr 0.3fr;
  }
  textarea{
    height: 100px;
    padding: 20px;
    font-size: 19px;

  }

  .container_price , .package_form{
    margin-bottom: 60px;
  }

  .container_price{
 display: flex;
 flex-direction: column;
 :nth-child(2) , :nth-child(4), :nth-child(6){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h4, h3{
    font-size: 18px;
    padding-left: 80px;
    margin: 20px;
  }
  h3{
    font-size: 24px;
  }
}
hr{
  margin-top: 10px;
  font-size: 14px;
}
 .container_checkbox{
  margin-top: 50px;
h3{
  padding-left: 80px;
}
  .checkbox{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        div{
              align-items: center;
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-size: 15px;
          font-weight: bold;
        }
 }
      
      
    }
    }
  }










  button{
    border: none;
   }
.input_icon{
  position: absolute;
  align-self: center;
border-radius: 20px;
color: white;
  padding: 30px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:filter 0.5s,width 0.2s, height 0.2s;
    font-size: 20px;
    bottom: 0;
    left: 35%;
    cursor: pointer;
}
.input_icon:hover{
    filter: brightness(60%);
}
.input_icon:active{
    filter: brightness(10%);
  
}



.off {
  display: none;
}
.on {
  display: block;
}

.required{
  color: red;
  font-size: 15px;
  font-weight: bold;
}